/** CSS **/

header {
	position: fixed;
	background-color: lightgrey;
	width: 100%;
	opacity: 0%;
	z-index: 1;
}

h1 {
	margin: 0 auto;
}

ul, li, a {
	display: inline;
	text-decoration: none;
	list-style: none;
	margin-left: 5px;
	color: darkgreen;
}

.container {
	position: absolute;
	margin-top: 15%;
}

.news {
}

.news a {
	display: inline-block;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
}

article {
	position: relative;
	float: left;
	max-width: 46%;
	min-width: 38%;
	margin: 0 5px 5px 5px;
	background-color: rgba(111, 0, 0, 0.2);
}

img {
	width: 49%;
	display: inline-block;
	float: left;
	margin: 0 5px 5px 5px;
}

p {
	margin: 3%;
}